﻿@model  GraniteHouse.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "AppointmentConfirmation";
}

<h2>AppointmentConfirmation</h2>

<br />

<h2 class="text-info">Appointment Confirmation</h2>

<div class="form-text">
    Your appointment has been submitted. One of our Sales Rep would be in touch shortly. Please feel free to contact us any time you have a questions.
</div>

<br />

<partial name="~/Views/Shared/_AppointmentCustomerDetails.cshtml" model="Model.Appointments" />
<partial name="~/Views/Shared/_AppointmentProductDetails.cshtml" model="Model.Products" />

<a asp-area="Customer" asp-controller="Home" asp-action="Index">Back to Products</a>