﻿@model GraniteHouse.Models.ViewModel.ShoppingCartViewModel
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<form method="post">
    <br />
    <br />
    <h2 class="text-info">
        Your Shopping
    </h2>
    <br />
    @if (Model.Products.Count > 0)
    {
    <div class="container border border-secondary rounded" style="padding: 15px;">
        <div class="row">
            <div class="col-8" style="border-right: 1px solid #bbb9b9;">
                <table class="table table-striped" width="100%">
                    <tr class="table-info">
                        <th style="text-align:center; width:20%;"></th>
                        <th style="text-align:center; width:20%;">
                            <label asp-for="@Model.Products.FirstOrDefault().Name"></label>
                        </th>
                        <th style="text-align:center; width:20%;">
                            <label asp-for="@Model.Products.FirstOrDefault().Price"></label>
                        </th>
                        <th style="text-align:center; width:20%;">
                            <label asp-for="@Model.Products.FirstOrDefault().ShadeColor"></label>
                        </th>
                        <th style="text-align:center; width:20%;">
                            <label asp-for="@Model.Products.FirstOrDefault().ProductTypes.Name"></label>
                        </th>
                        <th style="text-align:center; width:20%;"></th>
                    </tr>

                    @foreach (var item in Model.Products)
                    {
                    <tr style="padding:50px;">
                        <td>
                            <a asp-area="Customer" asp-controller="Home" asp-action="Details" asp-route-id="@item.Id">
                                <img src="@item.Image" width="100%" style="margin:auto; display:block; border-radius:5px; border: 1px solid #bbb9b9;" />
                            </a>
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(c => item.Name)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(c => item.Price)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(c => item.ShadeColor)
                        </td>
                        <td style="text-align:center;">
                            @Html.DisplayFor(c => item.ProductTypes.Name)
                        </td>
                        <td style="text-align:center;">
                            <button type="submit" class="btn btn-danger" asp-action="remove" asp-route-id="@item.Id">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                    }
                </table>
            </div>
            <div class="col-4" style="padding-left: 30px">
                <div class="row">
                    <div class="col-12">
                        <label>Name : </label>
                    </div>
                    <div class="col-12" style="padding-bottom:15px;">
                        <input asp-for="@Model.Appointments.CustomerName" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label>Phone Number : </label>
                    </div>
                    <div class="col-12" style="padding-bottom:15px;">
                        <input asp-for="@Model.Appointments.CustomerPhoneNumber" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label>Email : </label>
                    </div>
                    <div class="col-12" style="padding-bottom:15px;">
                        <input asp-for="@Model.Appointments.CustomerEmail" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label>Appointment Date : </label>
                    </div>
                    <div class="col-12" style="padding-bottom:15px;">
                        <input asp-for="@Model.Appointments.AppointmentDate" id="datepicker" value="" type="text" class="form-control" />
                    </div>
                    <div class="col-12">
                        <label>Appointment Time : </label>
                    </div>
                    <div class="col-12" style="padding-bottom:15px;">
                        <input asp-for="@Model.Appointments.AppointmentTime" value="" type="text" class="timepicker form-control" />
                    </div>

                    <div class="col-12" style="padding-bottom:15px;">
                        <button type="submit" id="btnPlaceOrder" class="btn btn-success">Schedule Appointment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    }
</form>

@section Scripts{

<script>


    $(function () {
        $('.timepicker').timepicker({
            timeFormat: 'h:mm p',
            interval: 30,
            minTime: '10',
            maxTime: '3:00pm',
            startTime: '10:00',
            dynamic: false,
            dropdown: true,
            scrollbar: true
        });

        $("#datepicker").datepicker({
            minDate: +1, maxDate: "+3M"
        });
    });
</script>

}