﻿@model GraniteHouse.Models.Products
@using GraniteHouse.Extensions
@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit";
}

<br />
<h2 class="text-info">Product Details</h2>

<form method="post">
    <div class="p-4 border rounded row">


        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" readonly class="form-control" />
                </div>

            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ShadeColor"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ShadeColor" readonly class="form-control" />
                </div>

            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" readonly class="form-control" />
                </div>

            </div>

            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductTypes"></label>
                </div>
                <div class="col-8">
                    <input asp-for="ProductTypes.Name" readonly class="form-control" />
                </div>
            </div>

            @if (!Model.SpecialTags.Name.Equals("--None--"))
            {
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="SpecialTags"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="SpecialTags.Name" readonly class="form-control" />
                    </div>
                </div>

            }

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    @{
                        bool isInCart = false;
                        List<int> lstCart = HttpContextAccessor.HttpContext.Session.Get<List<int>>("ssShoppingCart");

                        if (lstCart != null && lstCart.Contains(Model.Id))
                        {
                            isInCart = true;
                        }

                    }

                    @if (isInCart)
                    {
                        <button type="submit" value="Remove from Cart" asp-action="remove" asp-route-id="@Model.Id" class="btn btn-danger form-control">Remove from Cart</button>
                    }
                    else
                    {
                        <button type = "submit" value = "Add to Bag" asp-route-id = "@Model.Id" class="btn btn-primary form-control">Add to card</button>
                    }


                </div>
            </div>
        </div>
        <div class="col-1">

        </div>
        <div class="col-3">
            <img src="@Model.Image" width="100%" style="border-radius:5px; border:1px solid #bbb9b9;" />
            <br />
            <br />
            @if (Model.Available)
            {
                <img src="~/images/inStock.png" width="50%" />
            }
        </div>


        <br />
        <div class="form-group">
            <input type="hidden" asp-for="Id" />
            <a asp-action="Index" class="btn btn-success">Back to List</a>
        </div>
    </div>
</form>

