﻿@page
@model CRUD_Razor_2_1.Pages.BookList.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Create Book</h2>

<div style="border: 1px solid #bbb9b9; border-radius: 10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Name"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.Name" class="text-danger"></span>
                </div>
            </div>

            <br />

            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Author"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Author" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.ISBN" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" name="name" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success  btn-sm">Back To List</a>

            </div>

        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPArtial");}

}