﻿@page
@model CRUD_Razor_2_1.Pages.BookList.EditModel
@{
    ViewData["Title"] = "Create";
}

<br />
<h2>Edit Book</h2>

<br />

<div style="border:1px solid #bbb9b9; border-radius:10px;">
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input hidden asp-for="Book.Id" />
        <div class="row" style="padding:30px;">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Name"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Name" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.ISBN"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.ISBN" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.ISBN" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-1">
                        <label asp-for="Book.Author"></label>
                    </div>
                    <div class="col-sm-4">
                        <input asp-for="Book.Author" class="form-control" />
                    </div>
                    <span asp-validation-for="Book.Author" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Update" class="btn btn-primary btn-sm" />
                <a asp-page="Index" class="btn btn-success btn-sm">Back to List</a>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPArtial");}
}