﻿@model GraniteHouse.Models.ProductTypes
@{
    ViewData["Title"] = "Delete";
}

<h2>Create</h2>

<br />
<h2 class="text-info">Delete Product Type</h2>

<form method="post" asp-action="Delete">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />

        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
       
    </div>
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-danger" asp-route-id="@Model.Id" value="Delete" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>
