﻿@model GraniteHouse.Models.ProductTypes
@{
    ViewData["Title"] = "Details";
}

<h2>Create</h2>

<br />
<h2 class="text-info">Product Type Details</h2>


    <div class="p-4 border rounded">
       

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" disabled class="form-control" />
        </div>
       
    </div>
    <br />

    <div class="form-group">
        <a asp-action="Edit" asp-route-id="@Model.Id" btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>


