﻿@model GraniteHouse.Models.ProductTypes
@{
    ViewData["Title"] = "Edit";
}

<h2>Create</h2>

<br />
<h2 class="text-info">Edit Product Type</h2>

<form method="post" asp-action="Edit">
    <div class="p-4 border rounded">
        <input type="hidden" asp-for="Id" />

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-2">
            <label asp-for="Name"></label>
        </div>
        <div class="col-5">
            <input asp-for="Name" class="form-control" />
        </div>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <br />

    <div class="form-group">
        <input type="submit" class="btn btn-primary" asp-route-id="@Model.Id" value="Update" />
        <a asp-action="Index" class="btn btn-success">Back to List</a>
    </div>
</form>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}